.App{
  background-image: linear-gradient(#f419cf, #ee2a52);
  background-color: #f419cf;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
